extends ../public/layout/mainlayout.pug
block content
    #main-content
        #search-area
            form#search-form(action="",method="post") 
                input#inputSearch(type='text', placeholder='Search')
            input#search-btn(type="button", value="tìm kiếm")
        #content-display
            if(Data)
                .line
                    .item 
                        h3= Data.sleepingTimes.name
                        image(src="")
                    .item 
                        h3= Data.footSteps.name
                .line
                    .item 
                        h3= Data.sleepingTimes.name
                    .item 
                        h3= Data.footSteps.name
                .line
                    .item 
                        h3= Data.bloodPressure.name
                    .item 
                        h3= "Đang cập nhật"